.vscode
.DS_Store
__pycache__/
bin
.ipynb_checkpoints/

#ignore directories
biome_input/
log/
geotiff_examples/
cut_maxar*

#ignore datasets
/dataset*
*/biome_input/*

#ignore files
biome_info.csv
filtered_biome_012.zip
test_tile*

